html {
    overflow-x: hidden;
    width: 100vw;
}

@font-face {
    font-family: Ubuntu;
    src: local('sans-sarif'),
    url('/Ubuntu/Ubuntu-Regular.ttf');
    font-display: swap;
}

:root {
    --bs-body-bg: rgb(31, 32, 47);
    --bs-body-color: rgb(169, 177, 214);
    --bs-heading-color: rgb(169, 177, 214);
    --bs-body-font-family: Ubuntu, sans-serif;
    /*--bs-navbar-toggler-border-color: rgb(169, 177, 214);*/
    --bs-navbar-toggler-border-color: white;
}

.card {
    --bs-card-bg: #1d1e2a;
    --bs-card-border-color: #13131c;
    --bs-card-border-width: 1px;
    --bs-card-color: #d4daff;
}

.form-control {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.list-group-item {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-color);
    color: var(--bs-body-color);
    transition: all ease 0.2s;
}

.list-group-item:hover{
    background-color: var(--bs-danger);
}

.navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: rgb(169, 177, 214);
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color), 0.75) !important;
}

.icon {
    filter: invert();
}

.alert-secondary {
    --bs-alert-color: #41464b;
    --bs-alert-bg: var(--bs-body-color);
    --bs-alert-border-color: #d3d6d8;
}

.story {
    transform: scale(0.95);
    border: 1px solid rgba(255,255,255,0.14);
    filter:  drop-shadow(0px 0px 0px rgba(0,0,0,0));

    -webkit-animation: story-fade-in 1s;
    -moz-animation: story-fade-in 1s;
    -ms-animation: story-fade-in 1s;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;

    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
}

@keyframes story-fade-in {
    0% {
        filter:  drop-shadow(0px 0px 0px rgba(0,0,0,0));
        transform: scale(0.95);
        border: 1px solid rgba(255,255,255,0.14);
    }

    100% {
        filter:  drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.65));
        transform: scale(1);
        border: 1px solid rgba(255,255,255,0);
    }
}