html {
    overflow-x: hidden;
    width: 100vw;
}

@font-face {
    font-family: Ubuntu;
    src: local('sans-sarif'),
    url('/Ubuntu/Ubuntu-Regular.ttf');
    font-display: swap;
}

:root {
    --bs-body-bg: rgb(31, 32, 47);
    --bs-body-color: rgb(169, 177, 214);
    --bs-heading-color: rgb(169, 177, 214);
    --bs-body-font-family: Ubuntu, sans-serif;
    /*--bs-navbar-toggler-border-color: rgb(169, 177, 214);*/
    --bs-navbar-toggler-border-color: white;
}

.card {
    --bs-card-bg: #1d1e2a;
    --bs-card-border-color: #13131c;
    --bs-card-border-width: 1px;
    --bs-card-color: #d4daff;
}

.form-control {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.list-group-item {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-color);
    color: var(--bs-body-color);
    transition: all ease 0.2s;
}

.list-group-item:hover{
    background-color: var(--bs-danger);
}

.navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: rgb(169, 177, 214);
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color), 0.75) !important;
}

.icon {
    filter: invert();
}

.alert-secondary {
    --bs-alert-color: #41464b;
    --bs-alert-bg: var(--bs-body-color);
    --bs-alert-border-color: #d3d6d8;
}

.story {
    transform: scale(0.95);
    border: 0 solid rgba(255,255,255,0.14);
    /*filter:  drop-shadow(0px 0px 0px rgba(0,0,0,0));*/

    -webkit-animation: story-fade-in 2.1s;
    -moz-animation: story-fade-in 2.1s;
    -ms-animation: story-fade-in 2.1s;

    -webkit-animation-duration: 2.1s;
    -moz-animation-duration: 2.1s;
    -ms-animation-duration: 2.1s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;

    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;

    -webkit-appearance: none;
}

@keyframes story-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
        border: 0 solid rgba(255,255,255,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    50% {
        opacity: 1;
        transform: scale(0.95);
        border: 0 solid rgba(255,255,255,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    100% {
        transform: scale(1);
        border: 1px solid rgba(255,255,255,0.05);
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.6);
    }
}
.pagination__item {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.card-content {
    line-height: 1.6rem;
    margin: 0;
    overflow-y: hidden;
    transition: max-height 0.2s ease-out;
    max-height: fit-content;
}

.collapsed {
    max-height: 16rem;
}

.progress {
    background-color: #1d1e2a;
    border: 1px solid #13131c;
}

.progress-bar {
    background-color: var(--bs-body-color);
}

.cke_inner {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.cke_top {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}
.cke_button_icon {
    filter: invert() !important;
}
.cke_button:hover {
    background-color: transparent !important;
}

.cke_button_on {
    background-color: var(--bs-body-bg) !important;
    border: 1px solid var(--bs-body-color) !important;
}

.cke_wysiwyg_frame {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.cke_editable {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.cke_editable * {
    font-family: Ubuntu;
}
.cke_bottom {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.cke_path_item {
    color: var(--bs-body-color) !important;
}

.cke {
    border-radius: 0.375rem;
    border: 1px solid #d1d1d1 !important;
    overflow: hidden;
}

a {
    color: #0D6EFDFF;
}

.cke_dialog_body {
    background-color: black !important;
}
.cke_dialog_title {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.cke_dialog_contents_body {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.cke_dialog_ui_input_textarea {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.cke_dialog_ui_input_select {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.cke_dialog_ui_labeled_label {
    color: var(--bs-body-color) !important;
}
.cke_dialog_footer {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}
.hljs {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.hljs * {
    color: var(--bs-body-color) !important;
}