{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <img style="max-width: 90vw;" src='{{ asset("images/Opium\ Large.svg") }}' alt="" srcset="">
        <h1 class="mt-5">Unknown Error</h1>
        <p>Tripping off the beat kinda, dripping off the meat grinder, Heat niner, pimping, stripping, soft sweet minor</p>
    </div>
{% endblock %}
