{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <img style="max-width: 90vw;" src='{{ asset("images/Opium\ Large.svg") }}' alt="" srcset="">
        <h1 class="mt-5">404: I can't find that page</h1>
        <p>Tragic, new patek... </p>
    </div>
{% endblock %}
