{% extends "base.html.twig" %}
{% block content %}
    {% if not app.user %}
        {% include 'homepage/welcome.html.twig' %}
    {% endif %}
    <h1>{{ title }}</h1>
    {% include 'essays.html.twig' %}
{% endblock %}
