{% extends "base.html.twig" %}
{% block content %}
    {% if not app.user %}
        {% include 'homepage/welcome.html.twig' %}
    {% endif %}
    {% if app.request.get('message') %}
        <div class="alert alert-{{ app.request.get('type') }}" role="alert">
            {{ app.request.get('message') }}
        </div>
    {% endif %}
    <h1>{{ title }}</h1>
    {% include 'capsules.html.twig' %}
{% endblock %}
