{% block welcome %}

    <div class="collapse show" id="welcome-page">
        <div class="card card-body mb-3" >
            <h2>Welcome to Opium</h2>
            <ul>
            <li>Just write about whatever your passionate about and be true to yourself</li>
            <li>Sign up if you want or just enjoy the good writing</li>
            <li>Please take the time to <i>truly</i> think about what you want to put out in the world</li>
            <li style="list-style: none;">
                <a href="{{ path('app_about') }}">Learn More About Us</a></br>
            </li>
            <li style="list-style: none;">
                <a href="{{ path('app_register') }}">Sign Up Here</a><br>
            </li>
            <li style="list-style: none;">
                <a href="https://github.com/jadens-arc/opium.press">View on GitHub</a>
            </li>
            </ul>
        </div>
    </div>

    <button
            class="btn btn-outline-secondary mb-5"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#welcome-page"
            aria-expanded="false"
            aria-controls="collapse welcome"
            aria-label="toggle welcome message">
        Say Less
    </button>
{% endblock %}
