{% extends "base.html.twig" %}

{% block title %}| Replies{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'capsules.html.twig' %}
    <div class="m-4">
        {% if posts|length > 0 %}
            {{ pagerfanta(pager) }}
        {% endif %}
    </div>
{% endblock %}
