{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center row d-flex ">
        <div class="mb-3 col-sm d-flex flex-column justify-content-center align-items-center">
            <img src="{{ src }}"
                 height="600vh"
                 class="story rounded mb-5">
            <a download href="{{ src }}" id="saveImage" class="btn btn-primary">Save Image</a>
        </div>
        <div class="col-sm d-flex flex-column justify-content-center align-items-center">
            <h1>Post the image</h1>
            <h1 class="mb-5">Use this link</h1>
            <p class="alert alert-secondary">{{ url }}</p>
        </div>
    </div>
    <script>
        let saveBtn = document.getElementById('saveImage');
        saveBtn.addEventListener('click', (e) => {
            window.location = 'instagram-stories://share';
        });
    </script>
{% endblock %}
