{% extends 'base.html.twig' %}

{% block content %}
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Display Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <th scope="row">{{ row.id }}</th>
                    <td>{{ row.username }}</td>
                    <td>{{ row.displayName }}</td>
                    <td>{{ row.email }}<td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
