{% extends 'base.html.twig' %}

{% block title %}| Drafts{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if posts|length == 0%}
        <h3 class="text-muted text-center">Nothing yet :( go write something</h3
    {% endif %}
    {% include 'capsules.html.twig' %}
    {% if posts|length > 0 %}
        <div class="m-4">
            {{ pagerfanta(pager) }}
        </div>
    {% endif %}
{% endblock %}
