{% extends "base.html.twig" %}

{% block title %}| Subscriptions{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div style="scrollbar-width: none;" class="d-flex flex-row overflow-scroll pb-3">
        {% for subscription in subscriptions %}
            <a class href="{{ path("app_writer", {"username": subscription.username}) }}">
                <span class="btn btn-primary mx-1">
                    @{{ subscription.username }}
                </span>
            </a>
        {% endfor %}
    </div>
    {% include 'capsules.html.twig' %}
{% endblock %}
